
{% extends "rest_framework_swagger/index.html" %}

 {% block extra_scripts %}

<script type="text/javascript">

  
    let navbar = document.getElementsByClassName("topbar-wrapper");
    let link = document.createElement("a");
let wrapper = document.createElement("div");
  wrapper.className = "download-url-wrapper";
  link.className = "download-url-button button";
  link.href = "logs";
  link.innerText = "Logs";
  navbar[0].appendChild(wrapper);
  wrapper.appendChild(link);
  



</script>
{% endblock extra_scripts %}
{% comment %} {% extends "rest_framework_swagger/base.html" %}  {% endcomment %}

{% comment %} {% block extra_scripts %}
    <script>
        var element = document.querySelector(("#api_selector"));
        element.addEventListener("submit", function(event) {
        event.preventDefault();
        var token = $("#auth_token").val();
              window.swaggerUi.api.clientAuthorizations.add("Authorization", new   window.SwaggerClient.ApiKeyAuthorization("Authorization", token, "header"));
        alert("authorization added: " + token);
});

     </script>
{% endblock %} 

{% block user_context_message %}
Hello there
{% endblock %}
{% block logo %}
no
{% endblock %}

{% block extra_nav %}
    hhhh
    <input type="text" id="auth_token" placeholder="Auth Token" />
    <input class="submit" type="submit" value="Submit" data-sw-translate="">
{% endblock %} {% endcomment %}
