{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <link href="{% static 'rest_framework_swagger/bundles/vendors.bundle.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rest_framework_swagger/bundles/app.bundle.css' %}" rel="stylesheet" type="text/css">
  {% block extra_styles %}
  {# -- Add any additional CSS scripts here -- #}
  {% endblock %}
</head>

<body>
  <div class="swagger-ui">
    <div class="topbar">
      <div class="wrapper">
        <div class="topbar-wrapper">
          <a href="#" class="link">
            <img src="{% static 'rest_framework_swagger/logo_small.png' %}" alt="Swagger Logo">
            <span>swagger</span>
          </a>
            <div class="download-url-wrapper">
              <a class="download-url-button button" href="/">Home</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="logdiv">
    
  </div>
{% comment %} <object data="logtext"></object> {% endcomment %}
{% comment %} <div><object data="../logs/APILoggers.log">hh</object></div> {% endcomment %}
  <footer class="swagger-ui">
    <div class="wrapper">
      {% trans "Powered by "%}<a href="https://github.com/marcgibbons/django-rest-swagger" target="_new">Django REST Swagger</a>
    </div>
  </footer>

</body>

<script>

    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", "/logtext", false);
    console.log(rawFile);
   
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                let allText = rawFile.responseText;
                let lines = allText.split('\n');
                let logdiv = document.getElementById("logdiv");

                console.log(allText);
                for(let line = 0; line < lines.length; line++){
                    let textnode = document.createTextNode(lines[line]);
                    let textdiv = document.createElement("div");
                    let br = document.createElement("br");
                    textdiv.appendChild(br);
                    textdiv.appendChild(br);
                    textdiv.appendChild(textnode);
                    logdiv.appendChild(textdiv);
                }
                logdiv.style.fontSize = "12px";

            }
        }
    }
    rawFile.send(null);

</script>
</html>
